/* ==========================================================================
Global
========================================================================== */
body { 
	font-family: 'Lato', sans-serif!important;
	overflow-x:hidden;
}

body i { font-family: 'FontAwesome'!important; }

h1,
h2,
h3,
h4,
h5,
h6 { 
	font-family: 'Poppins', sans-serif!important;
	font-weight: 700!important;
  	letter-spacing: 2px;
}

h1 {
	font-size: 3vw;
	text-transform: uppercase;
}

h2 {
	font-size: 1.75rem!important;
	text-transform: capitalize;
}

h3 { text-align: center; }

p {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1.8;
}

p.gray { color: hsla(0, 0%, 40%, .5); }


hr { border-top: 1px solid #000; }

	hr.white { 
		border-top: 1px solid #fff; 
		opacity: 0.2;
		margin: 75px 0 25px 0; 
	}

span.bold { font-weight: 700; }

/* ==========================================================================
Navigation 
========================================================================== */
nav.bg-light { background-color: #fff!important; }

a.navbar-brand {
	font-family: 'Poppins', sans-serif!important;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

a.navbar-brand span { color: #FAA092; }

a.nav-link {
	color: #000;
	text-transform: lowercase;
	font-weight: 700;
	letter-spacing: 2px!important;
	font-family: 'Poppins', sans-serif!important;
	letter-spacing: 1px;
}

ul.navbar-nav > li.nav-item > a.nav-link { color: #000!important; }

ul.navbar-nav > li.nav-item > a.nav-link:hover {
	color: #FAA092;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

/* ==========================================================================
Masthead
========================================================================== */
.masthead-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.masthead-col img {
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.masthead-col a { 
	overflow: hidden;
	color: #cccccc;
	text-transform: uppercase;
	font-size: 12px; 
	letter-spacing: 2px;
	text-decoration: none;
	margin-top: 20px;
}

.masthead-col a:after {
	content:"";
    display: inline-block;
    height: 0.7em;
    vertical-align: bottom;
    width: 5%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #cccccc;
}

.masthead-col a:hover {color: #000;}

/* ==========================================================================
About
========================================================================== */
#about { 
	background-color: #1a1a1a;
    color: #fff;
}

.about-container { padding: 75px 0; }

.about-row { padding-top: 50px; }

.about-col h3 { 
	text-align: right;
	font-weight: 400;
	font-size: 1.75em;
    line-height: 1.75em;
}

.resume-hide { text-align: right; }

.resume-hide a {
	color: #FAA092;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: .65em;
	font-weight: 700;
}

.resume-hide a:hover { color: #fff; }

.resume-hide a:visited { color: #800080; }

.about-col p { color: #979797; }

/* ==========================================================================
Projects 
========================================================================== */
#projects { 
	background-color: #fafafa; 
	text-align: center; 
}

.projects-container { padding: 75px 0; }

.projects-container h3 { padding-bottom: 50px; }

.projects-row { padding-bottom: 50px; }

.projects-col {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
        -ms-flex-direction: column; 
            flex-direction: column; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.projects-row > .projects-col > .more { text-align: center; }

.projects-col-text a { color: #000; }

.projects-col-text a:hover {
	color: #979797;
	text-decoration: none;
}

.projects-col-text .btn-dark { 
	border-radius: 1px!important;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.projects-col-text .btn-dark a { 
	color: #fff;
	text-decoration: none;
}

.projects-col-text .btn-dark:hover {
	background-color: #FAA092; 
	-webkit-transition: all .4s ease-in-out; 
	-o-transition: all .4s ease-in-out; 
	transition: all .4s ease-in-out;
	border: transparent;
}

/* ==========================================================================
Skillset 
========================================================================== */
#skillset { 
	padding: 75px 0;
	background-color: #fff;
}

.skills-container h3 { padding-bottom: 15px; }

.skills-row { padding-top: 50px; }

.skills-col { text-align: center; }

.skills-col h3,
.skills-col h4 { text-transform: capitalize; }

.skills-col h3 { font-size: 1em; }

.skills-col h4 { font-size: .8em }

.skills-col p:nth-child(3),
.skills-col p:nth-child(5) { padding-bottom: 1rem; }

.skills-col ul { padding-left: 0; }

.skills-col ul > li { 
	list-style-type: none;
	padding-bottom: 15px;
}

/* ==========================================================================
Blog Homepage
========================================================================== */
#blog { 
	padding: 75px 0;
	background-color: #fafafa;
}

.blog-row { padding-top: 50px; }

.blog-col { 
	text-align: center;
	padding-right: 0!important;
	padding-left: 0;
}

.blog-col h5 { 
	color: #FAA092!important;
	font-weight: 700!important;
	margin-bottom: 0;
	font-size: .8rem;
}

.blog-col h3 { 
	text-transform: capitalize;
	font-size: 20px;
	margin-bottom: 1rem;
}

.blog-col h3,
.blog-col .btn-container { margin-top: 20px; }

.blog-col h3 a { color: #000; }

.blog-col h3 a:hover { 
	color: #979797;
	text-decoration: none;
}

/* ==========================================================================
Contact/Footer
========================================================================== */
#contact { 
	padding-top: 75px;
	text-align: center;
	color: #fff;
	background-color: #2a2a2a;
}

h2.work { text-transform: uppercase; }

.contact-container p { 
	color: #cccccc;
	padding-top: 25px; 
}

.contact-container p span.white { color: #fff; }

.contact-container .btn-outline-light { 
	margin-top: 25px;
    padding: 15px;
}

.contact-container .btn-outline-light a { 
    text-transform: uppercase;
    letter-spacing: 1px;
}

h5.copyright { font-size: 10px!important; }

.bottom-footer ul { margin-bottom: 0rem!important; }

.bottom-footer li {
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline-block;
	padding: 5px;
}

.bottom-footer li a { 
	color: #fff;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

	.bottom-footer li a:hover {
		color: #FAA092;
		text-decoration: none;
	}

h5 {
	color: #fff!important;
	font-size: .8em!important;
	font-weight: 400!important;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: inline-block;
	padding: 5px;
}

.bottom-footer { text-align: center; }

.back-to-top-col { text-align: right; }

.back-to-top-col a > i { 
	background-color: #FAA092;
    color: #fff;
    padding: 10px;
    border-radius: 1px;
}

.contact-container .btn-outline-light { 
	border-radius: 1px!important;
	letter-spacing: 2px;
	text-transform: capitalize;
}

.contact-container .btn-outline-light a { 
	color: #fff;
	text-decoration: none;
}

.contact-container .btn-outline-light:hover {
	background-color: #FAA092; 
	-webkit-transition: all .4s ease-in-out; 
	-o-transition: all .4s ease-in-out; 
	transition: all .4s ease-in-out;
	border: transparent;
}

/* ==========================================================================
Techrangers Case Study
========================================================================== */
h2.capitalize { font-size: 3rem!important; }

h2.capitalize,
h3.capitalize { 
	text-transform: capitalize;
	text-align: center;
}

h4.capitalize { 
	text-align: left;
	text-transform: capitalize;
}

hr.gold {
	margin: auto;
    width: 70px;
    position: relative;
    border-top: 3px solid #ffc904;
    padding-top: 15px;
    padding-bottom: 25px;
}

figcaption {
	color: #777;
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	padding: 15px 0;	
}

.cs-header-container h1 { text-align: center!important; }

h4.eval { padding-top: 20px; }

.cs-header-container h2 { 
	color: #cccccc;
	font-weight: 400!important;
}

.overview-container h2 { 
	padding: 50px 0 15px 0;
	text-align: center;
}

.overview-col p { text-align: center!important; }

.research-col.research-pad { padding: 0 0 25px 0; }

.research-col img { padding-bottom: 15px; }

.research-container:nth-child(1),
.research-col.users { padding-bottom: 15px; }

.research-col p.andrew-persona,
.research-col p.ally-persona { 
	font-size: 25px;
	margin-bottom: 0;
}

ol, li {
	font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.8;
    padding-bottom: 10px;
}

ul.reflection-ul.italicized { font-style: italic;  }


ol.research-ol li,
ol.evaluation-ol li { 
	color: #ffc904;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
}

ol.research-ol li span,
ol.evaluation-ol li span { 
	color: #000;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}

figcaption a {
	color: #000!important;
	font-weight: 700!important;
	font-size: 18px;
}

ul.reflection-ul li { 
	color: #ffc904;
	font-weight: 700;
}

ul.reflection-ul span {
	color: #000;
	font-weight: 400;
}

.col-lg-4.design-col.lo-fi,
.col-lg-8.design-col.lo-fi { padding-top: 15px; }

#final-design-container { padding: 25px 0; }

#reflection {
	background-color: #f8f8f8;
	padding: 25px 0;
}

a.hover { 
  line-height: 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 700;

  background-size: 200% auto;
  -webkit-background-size: 200% auto;
  -moz-background-size: 200% auto;
  
  background-position: -0% 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(255, 201, 4,0)), color-stop(50%, #ffc904));
  background-image: -webkit-linear-gradient(left, rgba(255, 201, 4,0) 50%, #ffc904 50%);
  background-image: -o-linear-gradient(left, rgba(255, 201, 4,0) 50%, #ffc904 50%);
  background-image: linear-gradient(to right, rgba(255, 201, 4,0) 50%, #ffc904 50%);
  -o-transition: background-position 0.5s ease-out;
  transition: background-position 0.5s ease-out;
  -webkit-transition: background-position 0.5s ease-out;
}

a.hover:hover {
  background-position: -100% 0;
  text-decoration: none;
}

/* ==========================================================================
Media Queries
========================================================================== */

/* Global --------------------------------------- */

	@media only screen and (max-width:960px){
		body{ overflow-x:scroll; }
	}

	@media (max-width: 767.98px) {
		h1 { 
			font-size: 24px;
			text-align: center;
			line-height: 1.5;
		}

		h2 { 
			text-align: center;
			font-size: 18px;
			line-height: 1.5;
			padding-top: 10px;
		}	

		p { text-align: center; }

		.btn-container { text-align: center; }

		.row { 
			margin-left: 0;
			margin-right: 0;
		}
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		h1 { text-align: center; }

		h2 { 
			text-align: center; 
			margin-bottom: 16px;
		}

		p { text-align: center; }

		hr.white { margin-top: 20px; }

		.btn,
		.btn-container { text-align: center; }

		.row { 
			margin-left: 0;
			margin-right: 0;
		}
	}

/* Navigation --------------------------------------- */

	@media (min-width: 992px) { 
		.navbar { padding: 1rem 0!important; }

		.container.masthead { 
			margin-top: 25px;
			margin-bottom: 30px;
		}
	}

	@media (min-width: 768px) and (max-width: 991.98px) { 
		.navbar { padding: 1rem!important; }
	}

	@media (max-width: 767.98px) {
		.navbar { padding: 1rem!important; }
	}

	@media (max-width: 575.98px) {
		.navbar { padding: 1rem!important; }
		ul.navbar-nav > li.nav-item > a.nav-link { font-size: .9rem; }
	}

/* Masthead --------------------------------------- */

	@media (min-width: 1366.98px) {
		#about { margin-top: 80px; }
	}

	@media (max-width: 767.98px) {
		.masthead { display: none; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.masthead { display: none; }
		
		.masthead-col a { display: none; }

		.col-lg-4.masthead-col h1 { margin-bottom: 15px; }
		
		.col-lg-4.masthead-col p { display: none; }
	}

/* About --------------------------------------- */

	@media (max-width: 767.98px) {
		.about-container { padding: 50px 0; }

		.about-row { padding-top: 25px; }

		.about-col h3 {
			font-size: 1em; 
			margin-bottom: 20px;
		}

		.about-col h3,
		.resume { text-align: center; }

		.about-col h3.about-hide,
		.resume-hide { display: none; }

		.resume {
			margin: 30px 0;
			text-align: center;
		}

		.resume button { background-color: #FAA092; }

		.resume a { font-size: .65em; }	

		.about-col:nth-child(2),
		.about-col:nth-child(3) { display: none; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) {

		.about-container { padding: 75px 0; }

		.about-col h3 { text-align: center; }

		.about-col h3.about-hide { display: none; }

		.about-col:nth-child(2),
		.about-col:nth-child(3) { display: none; }

		.resume-hide { display: none; }

		.resume {
			 margin: 30px 0;
			 text-align: center;
		}

		.resume button { background-color: #FAA092; }

		.resume a { 
			color: #fff;
			font-size: 1em!important;
			letter-spacing: 1px;
		}
	}

	@media (min-width: 992px) {
		.about-hide { display: none; }

		.resume { display: none; }
	}

	@media (max-width: 575.98px) {
		.resume a { 
			color: #fff;
			font-size: 1em!important;
			letter-spacing: 1px;
		}

		.btn-dark:hover { background-color: #FAA092!important; }
	}

/* Projects --------------------------------------- */

	@media (max-width: 767.98px) {
		.projects-container h3 { padding-bottom: 0!important; }

		.projects-row { 
			padding-top: 25px;
			padding-bottom: 25px!important;
		}

		.projects-row:nth-child(3),
		.projects-row:nth-child(4) { padding-top: 25px; }

		.projects-col { text-align: center; }

		.projects-col-text { margin-top: 25px; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.projects-container {
			padding-top: 50px;
			padding-bottom: 50px;
		}

		.projects-container h3 { padding-bottom: 30px!important; }

		.projects-row { padding: 30px 0!important; }

		.projects-col-text { margin-top: 25px; }

		.projects-col { margin-bottom: 25px; }

		.projects-row { padding-top: 50px; }

		.projects-row.show { display: none; }
	}

/* Skillset --------------------------------------- */

	@media (max-width: 767.98px) {
		/*.skills-col.hidden { display: none; }*/

		/*.skills-col h3 { display: none; }*/

		.skills-container h3 { padding-bottom: 10px!important; }

		.skills-row { padding-top: 25px; }
	}


	@media (min-width: 768px) and (max-width: 991.98px) {
		.skills-container h3 { padding-bottom: 10px!important; }

		.skills-row { padding-top: 30px; }

		/*.skills-col.hidden { display: none; }*/

		/*.skills-col h3 { display: none; }*/

		.skills-col h4 { font-size: 1.2em!important; }

		.skills-col p { font-size: 18px!important; }
	}

	@media (max-width: 575.98px) {
		.skills-col.hidden-workflow { display: none; }
	}

/* Blog Homepage --------------------------------------- */

	@media (max-width: 575.98px) {
		#blog { padding: 75px 0; }
	}

	@media (max-width: 767.98px) {
		.blog-row { padding-top: 25px; }

		.blog-col { margin-bottom: 20px; }

		.blog-col h3 { margin-top: 5px!important; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) { 
		.blog-row { padding-top: 30px; }

		.blog-col { margin-bottom: 20px; }

		.blog-col h5 { font-size: 14px; }

		.blog-col h3 { margin-top: 5px!important; }
	}

/* Techrangers Case Study --------------------------------------- */
	
	@media (max-width: 575.98px) {
		#cs-main { margin-top: 25px; }

		.cs-header-container h1 { 
			padding-bottom: 15px;
			margin-bottom: 8px;
		}

		h4.capitalize { 
			text-align: center;
			font-size: 18px;
		}

		.overview-col,
		.chal-row { margin-bottom: 25px; }

		.tr-robot { padding-bottom: 25px; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		#cs-main { margin-top: 50px; }

		.cs-header-container h1 { 
			padding-bottom: 15px;
			margin-bottom: 8px;
		}

		.research-container h2,
		.design-container h2,
		.final-design-container h2,
		#reflection { padding: 50px 0 15px 0; }

		#overview p,
		#research p,
		#design p,
		#final-design p,
		#reflection p { text-align: left; }

		#final-design { margin-bottom: 25px; }

		#contact p { text-align: center; }

		.tr-robot { padding-bottom: 25px; }

		.col-lg-8.design-col.lo-fidelity h4 { margin-top: 10px; }
	}

	@media (min-width: 992px) {
		#overview { padding-bottom: 25px; }

		#cs-main { margin-top: 70px; }

		.cs-header-container h1 { 
			padding-bottom: 15px;
			margin-bottom: 8px;
		}

		.overview-col p.overview-p,
		.overview-col p:nth-child(2) { padding-bottom: 45px; }

		h2.capitalize { padding: 50px 0 15px 0; }

		.col-lg-12.design-col { text-align: right; }

		.col-lg-12.design-col img { width: 90%; }

		.col-lg-4.design-col.lo-fidelity h3,
		.col-lg-8.design-col.lo-fidelity h4 { margin-top: 10px; }

		.final-design-container { margin-bottom: 50px; }
	}

/* Contact/Footer --------------------------------------- */

	@media (max-width: 575.98px) {
		.remove { display: none!important; }
	}

	@media (max-width: 767.98px) {
		#contact { padding-top: 30px; }

		hr.white { margin: 30px 0 15px 0; }

		.bottom-footer ul { padding-left: 0; }

		.back-to-top-col { padding-right: 0; }

		.remove { display: none!important; }
	}

	@media (min-width: 768px) and (max-width: 991.98px) {
		.btn-outline-light { margin-bottom: 25px; }

		.contact-container p { font-size: 18px; }

		.back-to-top-col { padding-right: 0; }

		.contact-container { 
			padding-right: 45px;
			padding-left: 45px;
		}

		.remove { display: none!important; }
	}

	@media (min-width: 992px) { 
		h2.work { font-size: 35px!important; }

		.contact-container p { 
			padding-right: 75px;
			padding-left: 75px;
		}
	}
